/**************************************************************************************************/

.landingDiv {
    padding: 10px;
    height: 180px;
}

.landingImgOdd {
    float: right;
    padding-left: 20px;
}

.landingImgEven {
    float: left;
    padding-right: 20px;
}

/**************************************************************************************************/
