<link rel="stylesheet" type="text/css" href="css/auth.css" />

<form class="authForm authFormLogin" ng-controller="authLoginController">

    <span class="authTitle"> Вход </span>

    <hr class="authHr">

    <label class="authLabel">
        логин:
        <br>
        <input type="text" class="authField" ng-model="auth.User_Login" ng-disabled="authIsDisabled" autofocus>
    </label>

    <label class="authLabel">
        пароль:
        <br>
        <input type="password" class="authField" ng-model="auth.User_Pass" ng-disabled="authIsDisabled">
    </label>

    <span class="authTextRed">
        {{authMessage}}
    </span>

    <button class="authButton" ng-click="authButtonClick()" ng-disabled="authIsDisabled">
        {{authButtonCaption}}
    </button>

    <span class="authAhref" ng-click="selectArticle('auth_register')" ng-show="!authIsDisabled">
        Ещё не регистрировались?
    </span>

</form>
