<div class="material">
    <span> Рады приветствовать, </span>
    <span class="materialHighLighted"> {{user.User_Login}} </span>
    <span> ! </span>
</div>

<div class="material" >
    <img class="materialImg" src="images/landing_page_plus_economy.png" >
    <div class="materialDiv" >
        На странице
        <span class="materialAhref" ng-click="selectArticle('money')">Деньги</span>
        <br>
        вводите Доходы и Расходы, <br>
        их Категории и Примечания.
    </div>
</div>

<div class="material" >
    <img class="materialImg" src="images/landing_page_work_more.png" >
    <div class="materialDiv" >
        На странице
        <span class="materialAhref" ng-click="selectArticle('statistics')">Статистика</span>
        <br>
        просматривайте Итоги <br>
        и Диаграммы по Категориям.
    </div>
</div>
