<link rel="stylesheet" type="text/css" href="css/landing_page.css" />

<div class="material">
    <p class="materialTitle"> {{app.name}} </p>
</div>

<div class="material">
    <img class="landingImgOdd" src="images/landing_page_site_help_you.png">
    <div class="landingDiv">
        <div class="materialHighLighted">
            Сайт поможет Вам:<br>
        </div>
        <ul>
            <li>учесть Доходы</li>
            <li>учесть Расходы</li>
            <li>построить сводные диаграммы</li>
        </ul>
        <br>
        <button class="materialButton" ng-click="selectArticle('auth_register')"> Регистрация </button> &nbsp; займёт полминуты!
    </div>
</div>

<div class="material">
    <img class="landingImgEven" src="images/landing_page_anytime_and_anywhere.png">
    <div class="landingDiv">
        <div class="materialHighLighted">
            Всегда и Везде!<br>
        </div>
        <div>
            доступ к информации о Доходах и Расходах из любой точки мира,<br>
            с любого устройства: ноутбук, планшет, телевизор, телефон и т.п.
        </div>
    </div>
</div>

<div class="material" >
    <img class="landingImgOdd" src="images/landing_page_its_free.png" >
    <div class="landingDiv" >
        <div class="materialHighLighted" >
            Кстати, это бесплатно!<br>
        </div>
        <div>
            <br>
            <span class="materialHighLighted" > {{app.name}} </span> - это бесплатно.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            И всегда будет бесплатно!<br>
        </div>
        <br>
        <button class="materialButton" ng-click="selectArticle('auth_register')"> Попробуйте! </button> &nbsp; Вам понравится!
    </div>
</div>

<div class="material" >
    <div class="materialSmall" >
        Vector designed by
        <a href="http://www.freepik.com/" target="_blank" >Freepik</a>
    </div>
</div>
