<link rel="stylesheet" type="text/css" href="css/stat_debet_kredit_total.css" />

<div class="materialWide">

    <table>
        <tr>
            <th class="thDate">Дата</th>
            <th class="thDebet">Доход</th>
            <th class="thKredit">Расход</th>
            <th class="thTotal">Остаток</th>
            <th class="thCategory">Категория</th>
            <th class="thNote">Примечание</th>
        </tr>
        <tr ng-repeat="m in stat.Report">
            <td>
                <input type="text" class="ti tiDate" ng-model="m.Money_Date" disabled>
            </td>
            <td>
                <input type="text" class="ti tiDecimal" ng-model="m.Money_Debet" disabled>
            </td>
            <td>
                <input type="text" class="ti tiDecimal" ng-model="m.Money_Kredit" disabled>
            </td>
            <td>
                <input type="text" class="ti tiTotal" ng-model="m.Money_Total" disabled>
            </td>
            <td>
                <input type="text" class="ti tiVarChar" ng-model="m.Money_Category" disabled>
            </td>
            <td>
                <input type="text" class="ti tiVarChar" ng-model="m.Money_Note" disabled>
            </td>
        </tr>
    </table>

</div>
